<app-user-toolbar [drawer]="drawer"></app-user-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened mode="side" position="start" class="mat-elevation-z3 vh-100 bg-light">
    <mat-nav-list class="vh-100">
      <mat-list-item *ngFor="let item of userNavList" [matTooltip]="item.name">
        <a matLine class="p-lg-2" [routerLink]="item.link">
          <mat-icon color="primary">{{ item.icon }}</mat-icon>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="min-vh-100 p-lg-3">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
